<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    
    h1 {color: blur}
    h2 {color: white}
    <h1 style="font-size:300%;">Jackfruit or Mango</h1>

  </style>
</head>
<body style="background-color: #d773f5;">
    <h1 style="text-align:center;font-size:300%;">Jackfruit or Mango?</h1>
    <h2 style="text-align:center;font-size:175%;">Are you confused between jackfruit and mango...No worries chakka-manga predictor is here...</h2>
    <img src="https://cdn.shopify.com/s/files/1/0059/8835/2052/products/Glenn_Mango_4_FGT_450x.jpg?v=1612444221" height="320px" width="350" style="border-radius: 50%;"hspace=70 vspace=5 >
<img src="https://sep.yimg.com/ay/yhst-13621674513170/5-seeds-artocarpus-heterophyllus-jackfruit-seeds-jack-fruit-seeds-3.gif" height="320px" width="350px" style="border-radius: 50%;"hspace=200 vspace=5>


<h1 style="text-align:center;font-size:260%;">Upload your picture to know...</h1>

<style>
body {
  background-image: url('https://th.bing.com/th/id/OIP.BU7OBzsQrDhDsXgYLxI-pwHaEK?pid=ImgDet&rs=1');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>





<form action="prediction" method="POST" enctype="multipart/form-data">
        <input type="file" name="img">
        <input type="submit" value="SUBMIT" style="background-color: gray;color: white;" font-size:260%>
      </form>

</body>
</html>